@import 'assets/scss/variables';
@import 'assets/scss/mixins';
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,800,800i,900i&display=swap');
.detail-page{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    // font-style: italic;
    width: 100%;
    height:calc(100vh - #{$headerHeight});
    background-color: rgb(247, 239, 239);
    @include displayFlex(row, nowrap, center, center);
    gap: 2rem;
    @include padding(0 0 0 2rem);
    &__image{
        height: 100%;
        width: 50%;
        background-color: transparent;
        @include displayFlex(row, nowrap, center, center);
        @include padding(1rem);
        img{
            height: 100%;
            width: 100%;
            border-radius: 30px;
            object-fit: cover;
            transition: $primary-transition;
        }
    }
    &__list{
        height: 100%;
        width: 100%;
        @include displayFlex(column,nowrap,start,center);
        gap: 1rem;
        @include padding(1rem 0)
    }
    .MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation0.MuiMobileStepper-root.MuiMobileStepper-positionStatic.detail-page__button.css-rh92k-MuiPaper-root-MuiMobileStepper-root {
        // background: rgb(222, 236, 238);
        background-color: transparent;
        // border: 20px;
        border-radius: 20px;
    }
    &__content{
        height: 100%;
        width: 50%;
        background-color: $white;
        @include padding(2rem);
    }
    &__rating{
        @include displayFlex(row, nowrap, start, center);
        gap: 2rem;
    }
    &__icon{
        height: 20px;
        width: 100%;
        @include displayFlex(row, nowrap,start, center);
        color: blue;
        p{
            @include padding(0 0 0 1rem);
            color: blue;
            font-weight: 700;
        }
    }
    h1{
        font-weight: 900;
    }
    &__bottom{
        position: absolute;
        // float: left;
        height: 15vh;
        width: 80%;
        background-color: $cyan-blue-1;
        bottom: 20px;
        border-radius: 10px;
        
        background-color: $white;
        box-shadow: rgba(197, 202, 206, 0.2) 2px 1px 24px;
        @include displayFlex(row, nowrap, center, center);
    }
    &__left{
        width: 50%;
        height: 100%;
        @include displayFlex(row,nowrap,start,center);
        @include padding(0 3rem);
        gap: 2rem;
        img{
            height: 70px;
            width: 70px;
            object-fit: cover;
            border-radius: 20px;
        }
    }
    &__title{
        p{
            color: $gray-text-color;
        }
        h2{
            margin-bottom: 0;
        }
    }
    &__right{
        float: left;
        width: 50%;
        height: 100%;
        @include displayFlex(row,nowrap,end,center);
        @include padding(0 3rem);
        gap: 2rem;
        // background-color: $blue;
        button{
            color: $white;
            background-color: $dark-blue-1;
            width: 220px!important;
            font-weight: 900;
            border: 0.5px solid $gray-text-color;
        }
        button:hover{
            color:$black;
        }
        
    }
    

}