@import 'assets/scss/variables';
@import 'assets/scss/mixins';

.detail-page{
    font-weight: bold;
    width: 100%;
    height:calc(100vh - #{$headerHeight});
    background-color: #f2f2f7;
    @include displayFlex(row, nowrap, center, center);
    gap: 2rem;
    @include padding(0 0 0 2rem);
    &__image{
        height: 100%;
        width: 50%;
        background-color: transparent;
        @include displayFlex(column, nowrap, flex-start, center);
        @include padding(1rem);
        img{
            height: 100%;
            width: 100%;
            border-radius: 30px;
            object-fit: cover;
            transition: $primary-transition;
        }
    }
    &__list{
        height: 50%;
        width: 100%;
        @include displayFlex(column, nowrap, flex-start, center);
        gap: 1rem;
        // @include padding(1rem 0);
        svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium{
            font-size: 50px;
        }
    }
    &__position-image{
        height: 15%;
        width: 80%;
        @include displayFlex(row);
        padding:(0 0 2rem 0);
    }
    &__item1{
        height: 100%;
        width: 20%;
        background-image: url('https://www.bigc.vn/img/application/sme/belve.png');
        background-size: cover;
        filter: blur(2px);
        &.active{
            filter: blur(0);
        }
    }
    &__item2{
        height: 100%;
        width: 20%;
        background-image: url('https://www.bigc.vn/img/application/sme/hatdieurang.png');
        background-size: cover;
        
        filter: blur(2px);
        &.active{
            filter: blur(0);
        }
    }
    &__item3{
        height: 100%;
        width: 20%;
        background-image: url('https://www.bigc.vn/img/application/sme/traxanhthainguyen.png');
        background-size: cover;
        
        filter: blur(2px);
        &.active{
            filter: blur(0);
        }
    }
    &__item4{
        height: 100%;
        width: 20%;
        background-image: url('https://www.bigc.vn/img/application/sme/mamchinhtuy.png');
        background-size: cover;
        
        filter: blur(2px);
        &.active{
            filter: blur(0);
        }
    }

    .MuiPaper-root.MuiPaper-elevation{
        background-color: transparent;
        width: 50vw;
        position: absolute;
        top: 40%;
        font-size: 30px;
    }
    .MuiMobileStepper-dots.css-1384nzf-MuiMobileStepper-dots{
        visibility: hidden;
    }
    
    &__content{
        height: 100%;
        width: 50%;
        background-color: $white;
        @include displayFlex();
    }
    &__cover{
        height: 80%;
        width: 50%;
        background-color: $white;
        // @include padding(2rem);
    }
    &__icon{
        height: 100px;
        width: 100%;
        @include displayFlex(row, nowrap, flex-start, center);
    }

    h1{
        font-weight: 900;
    }
    &__des{
        p{
            font-weight: 500;
            font-size: 15px;
            word-break: break-all;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    &__footer{
        height: 30px;
        width: 100%;
        @include displayFlex( row, nowrap, flex-start, center);
        gap: 1rem;
        p{
            font-weight: 500;
            font-size: 17px;
        }
    }
    &__price{
        height: 100px;
        width: 100%;
        @include displayFlex(row, nowrap, space-between, center);
    }
    &__quant{
        @include displayFlex(row, nowrap, flex-start, center);
        gap: 1rem;
    }
    &__buy{
        float: right;
    }
    &__minus, &__add{
        border: 0;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        @include displayFlex();
        transition: $primary-transition;
        background-color: rgb(243, 234, 234);
        cursor: pointer;
    }
    &__minus:hover, &__add:hover{
        background-color: rgb(221, 208, 208);
    }
}