@import 'assets/scss/variables';
@import 'assets/scss/mixins';

.card-item {
    width: 100%;
    border: 1px solid $gray-text-color;
    border-radius: 14px;
    @include padding(1rem);
    @include displayFlex(column, nowrap, flex-start, flex-start);
    gap: 1.4rem;
    
    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 14px;
    }

    &__title {
        margin: 0;
        font-weight: 700;
        color: $black;
        text-transform: uppercase;
        @include oneLineTextOverflow();
    }

    &__line {
        width: 100%;
        @include displayFlex(row, nowrap, space-between, center);
    }

    &__prices {
        p {
            font-weight: 600;
            color: $gray-text-color;
            margin: 0;
        }
    }
    button{
        color: $black;
        font-weight: 900;
        border: 0.5px solid $gray-text-color;
    }
}