@import 'assets/scss/variables';
@import 'assets/scss/mixins';

.admin-page{
    font-weight: bolder;
    width: 100%;
    height: calc(100vh - #{$headerHeight});
    @include displayFlex(column, nowrap, flex-start, center);
    @include padding(1rem 2rem);
    overflow-y: scroll;
    @include customScrollBar();

    &__savings{
        width: 100%;

        h3 {
            padding-bottom: 1rem;
        }
    }
    &__totals{
        margin-top: 1rem;
        @include padding(1rem 0);
        @include displayFlex(row, nowrap, space-between, center);
    }
    &__element{
        width: 50%;
        height: 100%;
        @include displayFlex(column, nowrap, center, flex-start);
        gap: 0.3rem;
        
        h2{
            margin: 0;
            font-size: 30px;
            color: $MUIgreen600;
        }
        
    }
    &__possible{
        color: $MUIgreen600;
    }
    
    &__items{
        height: 50%;
        width: 100%;
    }
    h3{
        height: 10%;
    }
    &__row{
        width: 100%;
        @include displayFlex(row, nowrap, space-between, flex-start);
        gap: .5rem;
        overflow: hidden;
    }
    &__project{
        height: 100%;
        width: 25%;
        @include displayFlex(column);
        gap: .2rem;
        &--content{
            height: 85%;
            width: 100%;
            background-color:#f8fafb; 
            @include padding(0 2rem);
            p{
                padding-top: 15px;
                margin-bottom: 0;
                color: $subtitle-text-color;
            }
            h3{
                margin-top: 5px;
                color: $main-text-color;
            }
    
        }
    }
    
    &__instances{
        width: 50%;
        height: 100%;
        @include displayFlex(column);
        gap: .2rem;
        &--content{
            height: 85%;
            width: 100%;
            background-color:#f8fafb; 
            @include padding(2rem 0 0 2rem);
            @include displayFlex(row, nowrap, space-between, center);
            gap: 0.4rem;
            
        }
    }
    &__type{
        height: 100%;
        width: 33%;
        color: $subtitle-text-color;
        font-weight: 700;
    }
    &__length{
        height: 100%;
        width: 33%;
        color: $subtitle-text-color;
    }

    label#demo-customized-radios {
        font-weight: 700;
        color: $subtitle-text-color;
    }

    &__custom{
        @include displayFlex(row, nowrap, flex-start, center);
    }

    &__offering{
        height: 100%;
        width: 33%;
        color: $subtitle-text-color;
        font-weight: 700;
    }

    &__checkout{
        width: 25%;
        height: 100%;
        @include displayFlex(column);
        gap: .2rem;
        &--content{
            height: 85%;
            width: 100%;
            background-color:#f8fafb; 
            @include padding(0 2rem);
            @include displayFlex(column, nowrap, flex-start, flex-start);

        }
        .MuiFormControl-root {
            margin-left: 0!important;
        }
        button.MuiButton-root.MuiButton-contained {
            background: #0a6bf0;
        }
        button.MuiButton-root.MuiButton-contained:hover{
            background-color: #0e60d3;
        }
    }
    &__title{
        background-color:#f8fafb; 
        height: 70px;
        min-height: 70px;
        max-height: 70px;
        width: 100%;
        text-transform: uppercase;
        @include displayFlex(row, nowrap, flex-start, center);
        @include padding(0 2rem);
        color: $subtitle-text-color;
    }

    &__list {
        margin: 1rem 0;
        width: 100%;
        @include displayGridAutoFit(32%);
        gap: 1rem;
    }
}