@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@import 'assets/scss/mixins';

.app {
  width: 100%;
  height: 100vh;
  @include displayFlex(row, nowrap, flex-start, flex-start);
  
  * {
    font-family: 'Montserrat', sans-serif!important;
  }

  &__nested-routes {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    @include displayFlex();
  }
}