@import 'assets/scss/variables';
@import 'assets/scss/mixins';

.header {
    height: $headerHeight;
    min-height: $headerHeight;
    width: 100%;
    @include padding(0 2rem);
    background-color: $white;
    border-bottom: 3px solid $silver-background-3;
    @include displayFlex(row);

    &__logo {
        width: calc(100% / 6);
        height: 100%;
        @include displayFlex(row, nowrap, flex-start);
    }
    &__image{
        width: 100%;
        @include displayFlex(row, nowrap, flex-start);
        cursor: pointer;
        
        img {
            width: 70px;
        }
        img:nth-child(2) {
            width: 100px;
            transform: translateY(3px);
        }
    }
    &__links {
        width: calc(100% / 6 * 4);
        height: 100%;
        @include displayFlex(row, nowrap, flex-start, center);
        @include padding(0 0 0 2rem);
        gap: 2rem;

        a {
            text-decoration: none;
            color: $header-unactive-link-color;
            font-weight: 600;
            position: relative;
            transition: $primary-transition;
            

            &::after {
                position: absolute;
                content: '';
                left: 0;
                bottom: -20px;
                width: 0;
                height: 5px;
                background-color: $green;
                transition: all $primary-transition;
            }
        }
        a.active { 
            color: #43a047;
            transition: $primary-transition;

            &::after {
                position: absolute;
                content: '';
                left: 0;
                bottom: -21px;
                width: 100%;
                height: 3px;
                background-color: $green;
                transition: $primary-transition;
                border-radius: 10px!important;
            }
        }
    }
    &__user {
        width: calc(100% / 6);
        height: 100%;
        @include displayFlex(row, nowrap, flex-end);
        gap: 0.4rem;

        img{
            cursor: pointer;
        }

        &--avatar {
            margin-left: 0.6rem!important;
            background-color: red!important;
        }
    }
}