@import 'assets/scss/variables';
@import 'assets/scss/mixins';

.post-item-page {
    width: 100%;
    height: calc(100vh - #{$headerHeight});
    background-color: $silver-background-4;
    overflow-y: scroll;
    overflow-x: hidden;
    @include padding(2rem);
    @include customScrollBar();

    @include maxWidth($lg) {
        @include padding(2rem 0);
    }

    &__container {
        width: 70%;
        height: auto;
        margin: 0 auto;
        background-color: $white;
        border-radius: 10px;
        @include padding(2rem);
        @include displayFlex(row, nowrap, space-between, flex-start);
        gap: 1rem;

        @include maxWidth($lg) {
            width: 95%;
        }
    }

    &__upload-image {
        width: 50%;
        height: 100%;
        @include displayFlex(column, nowrap, space-between, center);
    }

    .dropzone {
        width: 100%;
        height: 100%;
        border: 1px solid $gray-border-color;
        border-radius: 10px;
        background-color: $silver-background-4;
        color: $main-text-color;
        text-align: center;
        cursor: pointer;
        @include displayFlex();
        @include padding(2rem 4rem);
    }

    &__img-wrap {
        width: 100%;
        height: auto;
        @include displayGridAutoFit(100px);
        gap: 0.2rem;
        margin-top: 1rem;
    }

    &__img {
        width: 100%;
        height: 80px;
        object-fit: cover;
        border-radius: 10px;
    }

    &__infos {
        width: 50%;
        height: 100%;
        @include padding(0 2rem 2rem 2rem);
    }
}
